@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

#cabecalho{
    
}

body{
    background-color: #484f5c;
    
}
   
.menu {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: #2f3644;
    padding: 15px 0;
    width: 100%;
}


.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 6px;
    transition: 0.3s ease;
}


.menu a:hover {
    background-color:#484f5c ;
    transform: translateY(-2px);
}

a {
    font-family: cursive;
}

.menu{
    cursor: pointer;
}


.container-sobre {
    text-align: center;
    font-size: 22px;
    background-color: rgb(216, 235, 174);
    border-radius: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: #8AA7ED;
    padding: 20px;
    font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
    font-style: normal;
}    


.container-exp {
    display: flex;
    align-items: center; 
    gap: 20px; 
    justify-content: space-around;
    flex-wrap: wrap;
   

}

#imagem_sobre {
    width: 28%;
     border-radius: 8px; 
     max-width: 600px;
}
#texto_exp {
    text-align: center;
    width: 40%;
    background-color: #C3B491;
    border-radius: 20px;
    font-size: 22px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

